In [1]:
def add_numbers(x, y):
    return x + y
add_numbers(10, 2)

12

In [2]:
x=2
y=5
xy='hey'

In [3]:
type('This is a string')

str

In [4]:
type(None)

NoneType

In [5]:
type(1)

int

In [6]:
type(1.0)

float

In [7]:
type(add_numbers)

function

In [8]:
tup1 = ('physics', 'chemistry', 1997, 2000);

In [9]:
tup2 = (1, 2, 3, 4, 5 );

In [10]:
tup3 = "a", "b", "c", "d";

In [11]:
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [12]:
print("tup1[0]: ", tup1[0])

tup1[0]:  physics

In [13]:
print (tup2[1:5])

(2, 3, 4, 5)

In [14]:
tup4 = tup1 + tup2 + tup3

In [15]:
print (tup4)

('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

In [16]:
len((1, 2, 3))

3

In [17]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [18]:
3 in (1, 2, 3)

True

In [19]:
for x in (1, 2, 3): print (x),

1
2
3

In [20]:
list_sample = [1, 'a', 2, 'b']
type(list_sample)

list

In [21]:
list_sample.append(3.3)
print(list_sample)

[1, 'a', 2, 'b', 3.3]

In [22]:
for item in list_sample:
    print(item)

1
a
2
b
3.3

In [23]:
i=0
while( i != len(list_sample) ):
    print(list_sample[i])
    i = i + 1

1
a
2
b
3.3

In [24]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

In [25]:
x = {'MJ Bahmani': 'Mohamadjavad.bahmani@gmail.com', 'irmatlab': 'irmatlab.ir@gmail.com'}
x['MJ Bahmani'] # Retrieve a value by using the indexing operator

'Mohamadjavad.bahmani@gmail.com'

In [26]:
print('MJ' + str(2))

MJ2

In [27]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'MJ'}

In [28]:
type(sales_record)

dict

In [29]:
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

MJ bought 4 item(s) at a price of 3.24 each for a total of 12.96

# time

In [30]:
import datetime as dt
import time as tm

In [31]:
tm.time()

1587113726.3306556

In [32]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 4, 17, 11, 55, 26, 474946)

In [33]:
dtnow=dt.datetime.fromtimestamp(tm.time())

In [34]:
dtnow

datetime.datetime(2020, 4, 17, 11, 55, 26, 630409)

In [35]:
print(dtnow)

2020-04-17 11:55:26.630409

In [36]:
dtnow.year

2020

In [37]:
dtnow.month

4

In [38]:
import datetime as dt
import time as tm

In [39]:
tm.time()

1587113727.3470955

In [40]:
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 4, 17, 11, 55, 27, 491473)

In [41]:
print(dtnow)

2020-04-17 11:55:27.491473

In [42]:
dtnow.second

27

In [43]:
delta=dt.timedelta(days=100)
delta

datetime.timedelta(days=100)

In [44]:
print(delta)

100 days, 0:00:00

In [45]:
today=dt.date.today()

In [46]:
today

datetime.date(2020, 4, 17)

In [47]:
print(today)

2020-04-17

In [48]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [49]:
person = Person()
person.set_name('MJ Bahmani')
person.set_location('46, Nairobi, Kenya')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

MJ Bahmani live in 46, Nairobi, Kenya and works in the department School of Information

In [50]:
a,b,c=1,2,'kadas'

In [51]:
print(c)

kadas

In [52]:
print(1)

1

In [53]:
str = 'Hello World!'

In [54]:
print(str)

Hello World!

In [55]:
print(str[0])
print(str[2:5])
print(str[3:])
print(str*3)
print(str + 'TEST')

H
llo
lo World!
Hello World!Hello World!Hello World!
Hello World!TEST

In [56]:
s=10
p=2

In [57]:

var1 = 100
if var1:
   print("1 - Got a true expression value")
   print(var1)

1 - Got a true expression value
100

In [58]:
var2 = 0
if var2:
   print("2 - Got a true expression value")
   print(var2)
print("Good bye!")

Good bye!

In [59]:
var = 240
if var < 200:
   print("Expression value is less than 200")
   if var == 150:
      print("Which is 150")
   elif var == 100:
      print("Which is 100")
   elif var == 50:
      print("Which is 50")
   elif var < 50:
      print("Expression value is less than 50")
else:
   print("Could not find true expression")

print("Good bye!")

Could not find true expression
Good bye!

In [60]:
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

In [61]:
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

In [62]:
import numpy as np