In [1]:
a = [21, 22, 23, 24]

In [2]:
x = (25, 26)
a.append(x)
a

[21, 22, 23, 24, (25, 26)]

In [3]:
iterable = a[len(a):] #extend
iterable

[]

In [4]:
a.insert(2, 31)

In [5]:
a

[21, 22, 31, 23, 24, (25, 26)]

In [6]:
a.remove(x)

In [7]:
a

[21, 22, 31, 23, 24]

In [8]:
a.remove(31)

In [9]:
a

[21, 22, 23, 24]

In [10]:
b = a.copy()

In [11]:
b.pop() #remove and return/call item

24

In [12]:
b.pop(1)

22

In [13]:
b

[21, 23]

In [14]:
b.clear()

In [15]:
b

[]

In [16]:
del a[:]

In [17]:
a

[]

In [18]:
c = [10, 11, 12, 13, 11, 11]

In [19]:
c.count(11)

3

In [20]:
c.sort()
c

[10, 11, 11, 11, 12, 13]

In [21]:
c.sort(reverse = True)
c

[13, 12, 11, 11, 11, 10]

In [22]:
c.sort(key = None,reverse = False)
c

[10, 11, 11, 11, 12, 13]

In [23]:
c.reverse()
c

[13, 12, 11, 11, 11, 10]

In [24]:
c.copy
c

[13, 12, 11, 11, 11, 10]

In [25]:
c[:] # same as c.copy
c

[13, 12, 11, 11, 11, 10]

In [26]:
c.index(12)

1

In [27]:
c.index(11, 3) # find index of 11 starting at position 3

3

In [28]:
from collections import deque   #Using Lists as Queues¶
queque = deque(["Eric", "John", "Michael"])
queque.append("Terry")
queque.append("Graham")
queque.popleft() # removes first entered
queque.popleft() # removes second entered
queque      # calls the remaining in order of arrival

deque(['Michael', 'Terry', 'Graham'])

# List Comprehensions¶

In [29]:
# List comprehensions provide a concise way to create lists.
#Common applications are to make new lists where each element is the 
#result of some operations applied to each member of another sequence or iterable, 
#or to create a subsequence of those elements that satisfy a certain condition.
#For example, assume we want to create a list of squares, like:

squares = []
for y in range(10):
    squares.append(y**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
addition = []
for z in squares:
    addition.append(z+2)
addition

[2, 3, 6, 11, 18, 27, 38, 51, 66, 83]

In [31]:
subtraction = []
for v in addition:
    subtraction.append(100-v)
subtraction

[98, 97, 94, 89, 82, 73, 62, 49, 34, 17]

In [32]:
mult_div = []
for k in squares:
    mult_div.append((k*100)/2)
mult_div

[0.0, 50.0, 200.0, 450.0, 800.0, 1250.0, 1800.0, 2450.0, 3200.0, 4050.0]

In [33]:
y

9

In [34]:
k

81

In [35]:
z

81

In [36]:
v

83

In [37]:
#Note that this creates (or overwrites) a variable named x that still exists after the loop completes.
# We can calculate the list of squares without any side effects using:

squares = list(map(lambda y: y**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
squares = [y**2 for y in range(10)] # more coincise and readable
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
#A list comprehension consists of brackets containing an expression followed by a for clause
[(x, y) for x in [1, 2, 3] for y  in [3, 1, 4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [40]:
combs = []
for x in [1, 2, 3]:
    for y in [3, 1, 4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [41]:
vec = [-4, -2, 0, 2, 4]
 # create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [42]:
# filter the list to exclude negative numbers
[x>0 for x in vec]

[False, False, False, True, True]

In [43]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0 ]

[0, 2, 4]

In [44]:
# apply a function to all the elements absolute value
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [45]:
# call a method on each element
freshfruit = ['banana', 'loganberry', 'passionfruit']
[weapon.strip() for weapon in freshfruit]                 # check online what is weapon.strip()

['banana', 'loganberry', 'passionfruit']

In [46]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in vec]

[(-4, 16), (-2, 4), (0, 0), (2, 4), (4, 16)]

In [47]:
[(x, x*2) for x in range(8)]

[(0, 0), (1, 2), (2, 4), (3, 6), (4, 8), (5, 10), (6, 12), (7, 14)]

In [48]:
# flatten a list using a listcomp with two 'for'
vec = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [49]:
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
from math import pi

In [51]:
[str(round(pi, i)) for i in range(0, 6)]

['3.0', '3.1', '3.14', '3.142', '3.1416', '3.14159']

In [52]:
round(pi)   # round off pi

3

In [53]:
str(round(pi)) #to create a string

'3'

In [54]:
matrix = [
          [1, 2, 3, 4],
          [5, 6, 7, 8],
          [9, 10, 11, 12]
         ]

In [112]:
[row[i] for row in matrix for i in range(4)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [114]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [56]:
>>> transposed = []
>>> for i in range(4):
...     transposed.append([row[i] for row in matrix])
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [57]:
>>> transposed = []
>>> for i in range(4):
...     # the following 3 lines implement the nested listcomp
...     transposed_row = []
...     for row in matrix:
...         transposed_row.append(row[i])
...     transposed.append(transposed_row)
...
>>> transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [58]:
zip(matrix)

In [59]:
list(zip(matrix))

[([1, 2, 3, 4],), ([5, 6, 7, 8],), ([9, 10, 11, 12],)]

In [60]:
list(zip(*matrix))          # in built function for the formerly discussed comprehensions

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [61]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [62]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [63]:
del a[:]
a

[]

In [64]:
a = [1, 2]

## Tuples and Sequences¶

In [65]:
t = 12345, 54321, 'hello!'

In [66]:
t[1]

54321

In [67]:
t

(12345, 54321, 'hello!')

In [68]:
u = t, (1, 2, 3, 4, 5)   # Tuples may be nested:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [115]:
empty = ()

In [70]:
singleton = 'hello',    # <-- note trailing comma

In [71]:
len(empty)

0

In [72]:
len(singleton)

1

In [73]:
singleton

('hello',)

In [74]:
x, y, z = t # unpacking a tupple which is the opposite of packing

### sets

In [75]:
 basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
 print(basket) # show that duplicates have been removed

{'pear', 'banana', 'apple', 'orange'}

In [76]:
'orange' in basket  # fast membership testing

True

In [77]:
'crabgrass' in basket

False

In [78]:
a = set('abracadabra')
b = set('alacazam')

In [79]:
a                                             # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [80]:
a - b                                        # letters in a but not in b

{'b', 'd', 'r'}

In [81]:
a | b                                        # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [82]:
 a & b                                       # letters in both a and b

{'a', 'c'}

In [83]:
a ^ b                                         # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [84]:
z = {x for x in 'abracadabra' if x not in 'abc'}
z                                  #Similarly to list comprehensions, set comprehensions are also supported:

{'d', 'r'}

### Dictionaries¶

In [85]:
tel = {'jack': 4098, 'sape': 4139}

In [86]:
tel['guido'] = 4127

In [87]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [88]:
tel['jack']

4098

In [89]:
del tel['sape']

In [90]:
tel['irv'] = 4127

In [91]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [92]:
list(tel)

['jack', 'guido', 'irv']

In [93]:
sorted(tel)

['guido', 'irv', 'jack']

In [94]:
'guido' in tel

True

In [95]:
'jack' not in tel

False

In [96]:
#The dict() constructor builds dictionaries directly from sequences of key-value pairs
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [97]:
#dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [98]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

####  Looping Techniques¶

In [99]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [100]:
knights.items()

dict_items([('gallahad', 'the pure'), ('robin', 'the brave')])

In [101]:
#the position index and corresponding value can be retrieved at the same time using the enumerate() function
for i, v in enumerate(['tic', 'tac', 'toe']):
     print(i, v)

0 tic
1 tac
2 toe

In [102]:
#To loop over two or more sequences at the same time, the entries can be paired with the zip() function
questions = ['name', 'quest', 'favorite color']

In [103]:
answers = ['lancelot', 'the holy grail', 'blue']

In [104]:
for q, a in zip(questions, answers):
    print('what is your {0}? it is {1}.'.format(q, a))

what is your name? it is lancelot.
what is your quest? it is the holy grail.
what is your favorite color? it is blue.

In [105]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [106]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [107]:
list(reversed(range(1, 10, 2)))

[9, 7, 5, 3, 1]

In [108]:
 basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']  #sorted() is a set function
 for f in sorted(set(basket)):
        print(f)

apple
banana
orange
pear

In [109]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [110]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [111]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True