In [1]:
#from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import matplotlib.pyplot as plt
#import plotly.graph_objs as go
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import warnings
import sklearn
import scipy
import json
import sys
import csv
import os
#import plotly.plotly as py

In [2]:
print('matplotlib: {}'.format(matplotlib.__version__))
print('sklearn: {}'.format(sklearn.__version__))
print('scipy: {}'.format(scipy.__version__))
print('seaborn: {}'.format(sns.__version__))
print('pandas: {}'.format(pd.__version__))
print('numpy: {}'.format(np.__version__))
print('Python: {}'.format(sys.version))

matplotlib: 3.0.2
sklearn: 0.20.1
scipy: 1.1.0
seaborn: 0.9.0
pandas: 0.23.4
numpy: 1.15.4
Python: 3.7.1 (default, Dec 14 2018, 19:28:38)
[GCC 7.3.0]

In [3]:
warnings.filterwarnings('ignore')
sns.set(color_codes=True)
plt.style.available
%matplotlib inline
%precision 2

'%.2f'

In [4]:
hp_train=pd.read_csv('train.csv')
hp_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [6]:
x = 2
y = 5
xy = 'Hey'

In [7]:
def add_numbers (x, y):
    return x + y
add_numbers(1, 2)

3

In [8]:
type('This is a string')

str

In [9]:
type(None)

NoneType

In [10]:
type(1)

int

In [11]:
type(1.)

float

In [12]:
type(add_numbers)

function

In [13]:
tuple_sample = (1, 'a', 2, 'b')
type(tuple_sample)

tuple

In [14]:
list_sample = [1, 'a', 2, 'b']
type(list_sample)

list

In [15]:
list_sample.append(3.3)
print(list_sample)

[1, 'a', 2, 'b', 3.3]

In [16]:
for item in list_sample:
    print(list_sample)

[1, 'a', 2, 'b', 3.3]
[1, 'a', 2, 'b', 3.3]
[1, 'a', 2, 'b', 3.3]
[1, 'a', 2, 'b', 3.3]
[1, 'a', 2, 'b', 3.3]

In [17]:
type(list_sample)

list

In [18]:
i = 0
while( i != len(list_sample) ):
    print(list_sample[i])
    i = i + 1

1
a
2
b
3.3

In [19]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

In [20]:
x = {'MJ Bahmani': 'Mohamadjavad.bahmani@gmail.com', 'irmatlab': 'irmatlab.ir@gmail.com'}
x['MJ Bahmani'] # Retrieve a value by using the indexing operator

'Mohamadjavad.bahmani@gmail.com'

In [21]:
print('MJ' + str(1))

MJ1

In [22]:
sales_record = {
   'price' : 3.24,
   'num_items' : 4,
   'person' : 'MJ'    
}

In [23]:
type(sales_record)

dict

In [24]:
sales_statement = '{} bought {} item(s) at {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

MJ bought 4 item(s) at 3.24 each for a total of 12.96

In [25]:
with open('train.csv') as csvfile:
     house_train = list(csv.DictReader(csvfile))
        
house_train[1]

OrderedDict([('PassengerId', '2'),
             ('Survived', '1'),
             ('Pclass', '1'),
             ('Name', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'),
             ('Sex', 'female'),
             ('Age', '38'),
             ('SibSp', '1'),
             ('Parch', '0'),
             ('Ticket', 'PC 17599'),
             ('Fare', '71.2833'),
             ('Cabin', 'C85'),
             ('Embarked', 'C')])

In [26]:
hp_train.iloc[1]

PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                           38
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object

In [27]:
type(house_train)

list

In [28]:
len(house_train)

891

In [29]:
house_train[0].keys()

odict_keys(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'])

In [30]:
sum(float(d['Fare']) for d in house_train)/ len(house_train)

32.20

In [31]:
for d in house_train:
    print(d['Fare'])

7.25
71.2833
7.925
53.1
8.05
8.4583
51.8625
21.075
11.1333
30.0708
16.7
26.55
8.05
31.275
7.8542
16
29.125
13
18
7.225
26
13
8.0292
35.5
21.075
31.3875
7.225
263
7.8792
7.8958
27.7208
146.5208
7.75
10.5
82.1708
52
7.2292
8.05
18
11.2417
9.475
21
7.8958
41.5792
7.8792
8.05
15.5
7.75
21.6792
17.8
39.6875
7.8
76.7292
26
61.9792
35.5
10.5
7.2292
27.75
46.9
7.2292
80
83.475
27.9
27.7208
15.2458
10.5
8.1583
7.925
8.6625
10.5
46.9
73.5
14.4542
56.4958
7.65
7.8958
8.05
29
12.475
9
9.5
7.7875
47.1
10.5
15.85
34.375
8.05
263
8.05
8.05
7.8542
61.175
20.575
7.25
8.05
34.6542
63.3583
23
26
7.8958
7.8958
77.2875
8.6542
7.925
7.8958
7.65
7.775
7.8958
24.15
52
14.4542
8.05
9.825
14.4583
7.925
7.75
21
247.5208
31.275
73.5
8.05
30.0708
13
77.2875
11.2417
7.75
7.1417
22.3583
6.975
7.8958
7.05
14.5
26
13
15.0458
26.2833
53.1
9.2167
79.2
15.2458
7.75
15.85
6.75
11.5
36.75
7.7958
34.375
26
13
12.525
66.6
8.05
14.5
7.3125
61.3792
7.7333
8.05
8.6625
69.55
16.1
15.75
7.775
8.6625
39.6875
20.525
55
27.9
25.925
56.4958
33.5
29.125
11.1333
7.925
30.6958
7.8542
25.4667
28.7125
13
0
69.55
15.05
31.3875
39
22.025
50
15.5
26.55
15.5
7.8958
13
13
7.8542
26
27.7208
146.5208
7.75
8.4042
7.75
13
9.5
69.55
6.4958
7.225
8.05
10.4625
15.85
18.7875
7.75
31
7.05
21
7.25
13
7.75
113.275
7.925
27
76.2917
10.5
8.05
13
8.05
7.8958
90
9.35
10.5
7.25
13
25.4667
83.475
7.775
13.5
31.3875
10.5
7.55
26
26.25
10.5
12.275
14.4542
15.5
10.5
7.125
7.225
90
7.775
14.5
52.5542
26
7.25
10.4625
26.55
16.1
20.2125
15.2458
79.2
86.5
512.3292
26
7.75
31.3875
79.65
0
7.75
10.5
39.6875
7.775
153.4625
135.6333
31
0
19.5
29.7
7.75
77.9583
7.75
0
29.125
20.25
7.75
7.8542
9.5
8.05
26
8.6625
9.5
7.8958
13
7.75
78.85
91.0792
12.875
8.85
7.8958
27.7208
7.2292
151.55
30.5
247.5208
7.75
23.25
0
12.35
8.05
151.55
110.8833
108.9
24
56.9292
83.1583
262.375
26
7.8958
26.25
7.8542
26
14
164.8667
134.5
7.25
7.8958
12.35
29
69.55
135.6333
6.2375
13
20.525
57.9792
23.25
28.5
153.4625
18
133.65
7.8958
66.6
134.5
8.05
35.5
26
263
13
13
13
13
13
16.1
15.9
8.6625
9.225
35
7.2292
17.8
7.225
9.5
55
13
7.8792
7.8792
27.9
27.7208
14.4542
7.05
15.5
7.25
75.25
7.2292
7.75
69.3
55.4417
6.4958
8.05
135.6333
21.075
82.1708
7.25
211.5
4.0125
7.775
227.525
15.7417
7.925
52
7.8958
73.5
46.9
13
7.7292
12
120
7.7958
7.925
113.275
16.7
7.7958
7.8542
26
10.5
12.65
7.925
8.05
9.825
15.85
8.6625
21
7.75
18.75
7.775
25.4667
7.8958
6.8583
90
0
7.925
8.05
32.5
13
13
24.15
7.8958
7.7333
7.875
14.4
20.2125
7.25
26
26
7.75
8.05
26.55
16.1
26
7.125
55.9
120
34.375
18.75
263
10.5
26.25
9.5
7.775
13
8.1125
81.8583
19.5
26.55
19.2583
30.5
27.75
19.9667
27.75
89.1042
8.05
7.8958
26.55
51.8625
10.5
7.75
26.55
8.05
38.5
13
8.05
7.05
0
26.55
7.725
19.2583
7.25
8.6625
27.75
13.7917
9.8375
52
21
7.0458
7.5208
12.2875
46.9
0
8.05
9.5875
91.0792
25.4667
90
29.7
8.05
15.9
19.9667
7.25
30.5
49.5042
8.05
14.4583
78.2667
15.1
151.55
7.7958
8.6625
7.75
7.6292
9.5875
86.5
108.9
26
26.55
22.525
56.4958
7.75
8.05
26.2875
59.4
7.4958
34.0208
10.5
24.15
26
7.8958
93.5
7.8958
7.225
57.9792
7.2292
7.75
10.5
221.7792
7.925
11.5
26
7.2292
7.2292
22.3583
8.6625
26.25
26.55
106.425
14.5
49.5
71
31.275
31.275
26
106.425
26
26
13.8625
20.525
36.75
110.8833
26
7.8292
7.225
7.775
26.55
39.6
227.525
79.65
17.4
7.75
7.8958
13.5
8.05
8.05
24.15
7.8958
21.075
7.2292
7.8542
10.5
51.4792
26.3875
7.75
8.05
14.5
13
55.9
14.4583
7.925
30
110.8833
26
40.125
8.7125
79.65
15
79.2
8.05
8.05
7.125
78.2667
7.25
7.75
26
24.15
33
0
7.225
56.9292
27
7.8958
42.4
8.05
26.55
15.55
7.8958
30.5
41.5792
153.4625
31.275
7.05
15.5
7.75
8.05
65
14.4
16.1
39
10.5
14.4542
52.5542
15.7417
7.8542
16.1
32.3208
12.35
77.9583
7.8958
7.7333
30
7.0542
30.5
0
27.9
13
7.925
26.25
39.6875
16.1
7.8542
69.3
27.9
56.4958
19.2583
76.7292
7.8958
35.5
7.55
7.55
7.8958
23
8.4333
7.8292
6.75
73.5
7.8958
15.5
13
113.275
133.65
7.225
25.5875
7.4958
7.925
73.5
13
7.775
8.05
52
39
52
10.5
13
0
7.775
8.05
9.8417
46.9
512.3292
8.1375
76.7292
9.225
46.9
39
41.5792
39.6875
10.1708
7.7958
211.3375
57
13.4167
56.4958
7.225
26.55
13.5
8.05
7.7333
110.8833
7.65
227.525
26.2875
14.4542
7.7417
7.8542
26
13.5
26.2875
151.55
15.2458
49.5042
26.55
52
9.4833
13
7.65
227.525
10.5
15.5
7.775
33
7.0542
13
13
53.1
8.6625
21
7.7375
26
7.925
211.3375
18.7875
0
13
13
16.1
34.375
512.3292
7.8958
7.8958
30
78.85
262.375
16.1
7.925
71
20.25
13
53.1
7.75
23
12.475
9.5
7.8958
65
14.5
7.7958
11.5
8.05
86.5
14.5
7.125
7.2292
120
7.775
77.9583
39.6
7.75
24.15
8.3625
9.5
7.8542
10.5
7.225
23
7.75
7.75
12.475
7.7375
211.3375
7.2292
57
30
23.45
7.05
7.25
7.4958
29.125
20.575
79.2
7.75
26
69.55
30.6958
7.8958
13
25.9292
8.6833
7.2292
24.15
13
26.25
120
8.5167
6.975
7.775
0
7.775
13
53.1
7.8875
24.15
10.5
31.275
8.05
0
7.925
37.0042
6.45
27.9
93.5
8.6625
0
12.475
39.6875
6.95
56.4958
37.0042
7.75
80
14.4542
18.75
7.2292
7.8542
8.3
83.1583
8.6625
8.05
56.4958
29.7
7.925
10.5
31
6.4375
8.6625
7.55
69.55
7.8958
33
89.1042
31.275
7.775
15.2458
39.4
26
9.35
164.8667
26.55
19.2583
7.2292
14.1083
11.5
25.9292
69.55
13
13
13.8583
50.4958
9.5
11.1333
7.8958
52.5542
5
9
24
7.225
9.8458
7.8958
7.8958
83.1583
26
7.8958
10.5167
10.5
7.05
29.125
13
30
23.45
30
7.75

In [32]:
m = hp_train.T
m

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
PassengerId,1,2,3,4,5,6,7,8,9,10,...,882,883,884,885,886,887,888,889,890,891
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry","Moran, Mr. James","McCarthy, Mr. Timothy J","Palsson, Master. Gosta Leonard","Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)","Nasser, Mrs. Nicholas (Adele Achem)",...,"Markun, Mr. Johann","Dahlberg, Miss. Gerda Ulrika","Banfield, Mr. Frederick James","Sutehall, Mr. Henry Jr","Rice, Mrs. William (Margaret Norton)","Montvila, Rev. Juozas","Graham, Miss. Margaret Edith","Johnston, Miss. Catherine Helen ""Carrie""","Behr, Mr. Karl Howell","Dooley, Mr. Patrick"
Sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
Age,22,38,26,35,35,NaN,54,2,27,14,...,33,22,28,25,39,27,19,NaN,26,32
SibSp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
Parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450,330877,17463,349909,347742,237736,...,349257,7552,C.A./SOTON 34068,SOTON/OQ 392076,382652,211536,112053,W./C. 6607,111369,370376
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13,30,23.45,30,7.75
Cabin,NaN,C85,NaN,C123,NaN,NaN,E46,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B42,NaN,C148,NaN
Embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q

In [33]:
k = [d['Fare'] for d in house_train]
k

['7.25',
 '71.2833',
 '7.925',
 '53.1',
 '8.05',
 '8.4583',
 '51.8625',
 '21.075',
 '11.1333',
 '30.0708',
 '16.7',
 '26.55',
 '8.05',
 '31.275',
 '7.8542',
 '16',
 '29.125',
 '13',
 '18',
 '7.225',
 '26',
 '13',
 '8.0292',
 '35.5',
 '21.075',
 '31.3875',
 '7.225',
 '263',
 '7.8792',
 '7.8958',
 '27.7208',
 '146.5208',
 '7.75',
 '10.5',
 '82.1708',
 '52',
 '7.2292',
 '8.05',
 '18',
 '11.2417',
 '9.475',
 '21',
 '7.8958',
 '41.5792',
 '7.8792',
 '8.05',
 '15.5',
 '7.75',
 '21.6792',
 '17.8',
 '39.6875',
 '7.8',
 '76.7292',
 '26',
 '61.9792',
 '35.5',
 '10.5',
 '7.2292',
 '27.75',
 '46.9',
 '7.2292',
 '80',
 '83.475',
 '27.9',
 '27.7208',
 '15.2458',
 '10.5',
 '8.1583',
 '7.925',
 '8.6625',
 '10.5',
 '46.9',
 '73.5',
 '14.4542',
 '56.4958',
 '7.65',
 '7.8958',
 '8.05',
 '29',
 '12.475',
 '9',
 '9.5',
 '7.7875',
 '47.1',
 '10.5',
 '15.85',
 '34.375',
 '8.05',
 '263',
 '8.05',
 '8.05',
 '7.8542',
 '61.175',
 '20.575',
 '7.25',
 '8.05',
 '34.6542',
 '63.3583',
 '23',
 '26',
 '7.8958',
 '7.8958',
 '77.2875',
 '8.6542',
 '7.925',
 '7.8958',
 '7.65',
 '7.775',
 '7.8958',
 '24.15',
 '52',
 '14.4542',
 '8.05',
 '9.825',
 '14.4583',
 '7.925',
 '7.75',
 '21',
 '247.5208',
 '31.275',
 '73.5',
 '8.05',
 '30.0708',
 '13',
 '77.2875',
 '11.2417',
 '7.75',
 '7.1417',
 '22.3583',
 '6.975',
 '7.8958',
 '7.05',
 '14.5',
 '26',
 '13',
 '15.0458',
 '26.2833',
 '53.1',
 '9.2167',
 '79.2',
 '15.2458',
 '7.75',
 '15.85',
 '6.75',
 '11.5',
 '36.75',
 '7.7958',
 '34.375',
 '26',
 '13',
 '12.525',
 '66.6',
 '8.05',
 '14.5',
 '7.3125',
 '61.3792',
 '7.7333',
 '8.05',
 '8.6625',
 '69.55',
 '16.1',
 '15.75',
 '7.775',
 '8.6625',
 '39.6875',
 '20.525',
 '55',
 '27.9',
 '25.925',
 '56.4958',
 '33.5',
 '29.125',
 '11.1333',
 '7.925',
 '30.6958',
 '7.8542',
 '25.4667',
 '28.7125',
 '13',
 '0',
 '69.55',
 '15.05',
 '31.3875',
 '39',
 '22.025',
 '50',
 '15.5',
 '26.55',
 '15.5',
 '7.8958',
 '13',
 '13',
 '7.8542',
 '26',
 '27.7208',
 '146.5208',
 '7.75',
 '8.4042',
 '7.75',
 '13',
 '9.5',
 '69.55',
 '6.4958',
 '7.225',
 '8.05',
 '10.4625',
 '15.85',
 '18.7875',
 '7.75',
 '31',
 '7.05',
 '21',
 '7.25',
 '13',
 '7.75',
 '113.275',
 '7.925',
 '27',
 '76.2917',
 '10.5',
 '8.05',
 '13',
 '8.05',
 '7.8958',
 '90',
 '9.35',
 '10.5',
 '7.25',
 '13',
 '25.4667',
 '83.475',
 '7.775',
 '13.5',
 '31.3875',
 '10.5',
 '7.55',
 '26',
 '26.25',
 '10.5',
 '12.275',
 '14.4542',
 '15.5',
 '10.5',
 '7.125',
 '7.225',
 '90',
 '7.775',
 '14.5',
 '52.5542',
 '26',
 '7.25',
 '10.4625',
 '26.55',
 '16.1',
 '20.2125',
 '15.2458',
 '79.2',
 '86.5',
 '512.3292',
 '26',
 '7.75',
 '31.3875',
 '79.65',
 '0',
 '7.75',
 '10.5',
 '39.6875',
 '7.775',
 '153.4625',
 '135.6333',
 '31',
 '0',
 '19.5',
 '29.7',
 '7.75',
 '77.9583',
 '7.75',
 '0',
 '29.125',
 '20.25',
 '7.75',
 '7.8542',
 '9.5',
 '8.05',
 '26',
 '8.6625',
 '9.5',
 '7.8958',
 '13',
 '7.75',
 '78.85',
 '91.0792',
 '12.875',
 '8.85',
 '7.8958',
 '27.7208',
 '7.2292',
 '151.55',
 '30.5',
 '247.5208',
 '7.75',
 '23.25',
 '0',
 '12.35',
 '8.05',
 '151.55',
 '110.8833',
 '108.9',
 '24',
 '56.9292',
 '83.1583',
 '262.375',
 '26',
 '7.8958',
 '26.25',
 '7.8542',
 '26',
 '14',
 '164.8667',
 '134.5',
 '7.25',
 '7.8958',
 '12.35',
 '29',
 '69.55',
 '135.6333',
 '6.2375',
 '13',
 '20.525',
 '57.9792',
 '23.25',
 '28.5',
 '153.4625',
 '18',
 '133.65',
 '7.8958',
 '66.6',
 '134.5',
 '8.05',
 '35.5',
 '26',
 '263',
 '13',
 '13',
 '13',
 '13',
 '13',
 '16.1',
 '15.9',
 '8.6625',
 '9.225',
 '35',
 '7.2292',
 '17.8',
 '7.225',
 '9.5',
 '55',
 '13',
 '7.8792',
 '7.8792',
 '27.9',
 '27.7208',
 '14.4542',
 '7.05',
 '15.5',
 '7.25',
 '75.25',
 '7.2292',
 '7.75',
 '69.3',
 '55.4417',
 '6.4958',
 '8.05',
 '135.6333',
 '21.075',
 '82.1708',
 '7.25',
 '211.5',
 '4.0125',
 '7.775',
 '227.525',
 '15.7417',
 '7.925',
 '52',
 '7.8958',
 '73.5',
 '46.9',
 '13',
 '7.7292',
 '12',
 '120',
 '7.7958',
 '7.925',
 '113.275',
 '16.7',
 '7.7958',
 '7.8542',
 '26',
 '10.5',
 '12.65',
 '7.925',
 '8.05',
 '9.825',
 '15.85',
 '8.6625',
 '21',
 '7.75',
 '18.75',
 '7.775',
 '25.4667',
 '7.8958',
 '6.8583',
 '90',
 '0',
 '7.925',
 '8.05',
 '32.5',
 '13',
 '13',
 '24.15',
 '7.8958',
 '7.7333',
 '7.875',
 '14.4',
 '20.2125',
 '7.25',
 '26',
 '26',
 '7.75',
 '8.05',
 '26.55',
 '16.1',
 '26',
 '7.125',
 '55.9',
 '120',
 '34.375',
 '18.75',
 '263',
 '10.5',
 '26.25',
 '9.5',
 '7.775',
 '13',
 '8.1125',
 '81.8583',
 '19.5',
 '26.55',
 '19.2583',
 '30.5',
 '27.75',
 '19.9667',
 '27.75',
 '89.1042',
 '8.05',
 '7.8958',
 '26.55',
 '51.8625',
 '10.5',
 '7.75',
 '26.55',
 '8.05',
 '38.5',
 '13',
 '8.05',
 '7.05',
 '0',
 '26.55',
 '7.725',
 '19.2583',
 '7.25',
 '8.6625',
 '27.75',
 '13.7917',
 '9.8375',
 '52',
 '21',
 '7.0458',
 '7.5208',
 '12.2875',
 '46.9',
 '0',
 '8.05',
 '9.5875',
 '91.0792',
 '25.4667',
 '90',
 '29.7',
 '8.05',
 '15.9',
 '19.9667',
 '7.25',
 '30.5',
 '49.5042',
 '8.05',
 '14.4583',
 '78.2667',
 '15.1',
 '151.55',
 '7.7958',
 '8.6625',
 '7.75',
 '7.6292',
 '9.5875',
 '86.5',
 '108.9',
 '26',
 '26.55',
 '22.525',
 '56.4958',
 '7.75',
 '8.05',
 '26.2875',
 '59.4',
 '7.4958',
 '34.0208',
 '10.5',
 '24.15',
 '26',
 '7.8958',
 '93.5',
 '7.8958',
 '7.225',
 '57.9792',
 '7.2292',
 '7.75',
 '10.5',
 '221.7792',
 '7.925',
 '11.5',
 '26',
 '7.2292',
 '7.2292',
 '22.3583',
 '8.6625',
 '26.25',
 '26.55',
 '106.425',
 '14.5',
 '49.5',
 '71',
 '31.275',
 '31.275',
 '26',
 '106.425',
 '26',
 '26',
 '13.8625',
 '20.525',
 '36.75',
 '110.8833',
 '26',
 '7.8292',
 '7.225',
 '7.775',
 '26.55',
 '39.6',
 '227.525',
 '79.65',
 '17.4',
 '7.75',
 '7.8958',
 '13.5',
 '8.05',
 '8.05',
 '24.15',
 '7.8958',
 '21.075',
 '7.2292',
 '7.8542',
 '10.5',
 '51.4792',
 '26.3875',
 '7.75',
 '8.05',
 '14.5',
 '13',
 '55.9',
 '14.4583',
 '7.925',
 '30',
 '110.8833',
 '26',
 '40.125',
 '8.7125',
 '79.65',
 '15',
 '79.2',
 '8.05',
 '8.05',
 '7.125',
 '78.2667',
 '7.25',
 '7.75',
 '26',
 '24.15',
 '33',
 '0',
 '7.225',
 '56.9292',
 '27',
 '7.8958',
 '42.4',
 '8.05',
 '26.55',
 '15.55',
 '7.8958',
 '30.5',
 '41.5792',
 '153.4625',
 '31.275',
 '7.05',
 '15.5',
 '7.75',
 '8.05',
 '65',
 '14.4',
 '16.1',
 '39',
 '10.5',
 '14.4542',
 '52.5542',
 '15.7417',
 '7.8542',
 '16.1',
 '32.3208',
 '12.35',
 '77.9583',
 '7.8958',
 '7.7333',
 '30',
 '7.0542',
 '30.5',
 '0',
 '27.9',
 '13',
 '7.925',
 '26.25',
 '39.6875',
 '16.1',
 '7.8542',
 '69.3',
 '27.9',
 '56.4958',
 '19.2583',
 '76.7292',
 '7.8958',
 '35.5',
 '7.55',
 '7.55',
 '7.8958',
 '23',
 '8.4333',
 '7.8292',
 '6.75',
 '73.5',
 '7.8958',
 '15.5',
 '13',
 '113.275',
 '133.65',
 '7.225',
 '25.5875',
 '7.4958',
 '7.925',
 '73.5',
 '13',
 '7.775',
 '8.05',
 '52',
 '39',
 '52',
 '10.5',
 '13',
 '0',
 '7.775',
 '8.05',
 '9.8417',
 '46.9',
 '512.3292',
 '8.1375',
 '76.7292',
 '9.225',
 '46.9',
 '39',
 '41.5792',
 '39.6875',
 '10.1708',
 '7.7958',
 '211.3375',
 '57',
 '13.4167',
 '56.4958',
 '7.225',
 '26.55',
 '13.5',
 '8.05',
 '7.7333',
 '110.8833',
 '7.65',
 '227.525',
 '26.2875',
 '14.4542',
 '7.7417',
 '7.8542',
 '26',
 '13.5',
 '26.2875',
 '151.55',
 '15.2458',
 '49.5042',
 '26.55',
 '52',
 '9.4833',
 '13',
 '7.65',
 '227.525',
 '10.5',
 '15.5',
 '7.775',
 '33',
 '7.0542',
 '13',
 '13',
 '53.1',
 '8.6625',
 '21',
 '7.7375',
 '26',
 '7.925',
 '211.3375',
 '18.7875',
 '0',
 '13',
 '13',
 '16.1',
 '34.375',
 '512.3292',
 '7.8958',
 '7.8958',
 '30',
 '78.85',
 '262.375',
 '16.1',
 '7.925',
 '71',
 '20.25',
 '13',
 '53.1',
 '7.75',
 '23',
 '12.475',
 '9.5',
 '7.8958',
 '65',
 '14.5',
 '7.7958',
 '11.5',
 '8.05',
 '86.5',
 '14.5',
 '7.125',
 '7.2292',
 '120',
 '7.775',
 '77.9583',
 '39.6',
 '7.75',
 '24.15',
 '8.3625',
 '9.5',
 '7.8542',
 '10.5',
 '7.225',
 '23',
 '7.75',
 '7.75',
 '12.475',
 '7.7375',
 '211.3375',
 '7.2292',
 '57',
 '30',
 '23.45',
 '7.05',
 '7.25',
 '7.4958',
 '29.125',
 '20.575',
 '79.2',
 '7.75',
 '26',
 '69.55',
 '30.6958',
 '7.8958',
 '13',
 '25.9292',
 '8.6833',
 '7.2292',
 '24.15',
 '13',
 '26.25',
 '120',
 '8.5167',
 '6.975',
 '7.775',
 '0',
 '7.775',
 '13',
 '53.1',
 '7.8875',
 '24.15',
 '10.5',
 '31.275',
 '8.05',
 '0',
 '7.925',
 '37.0042',
 '6.45',
 '27.9',
 '93.5',
 '8.6625',
 '0',
 '12.475',
 '39.6875',
 '6.95',
 '56.4958',
 '37.0042',
 '7.75',
 '80',
 '14.4542',
 '18.75',
 '7.2292',
 '7.8542',
 '8.3',
 '83.1583',
 '8.6625',
 '8.05',
 '56.4958',
 '29.7',
 '7.925',
 '10.5',
 '31',
 '6.4375',
 '8.6625',
 '7.55',
 '69.55',
 '7.8958',
 '33',
 '89.1042',
 '31.275',
 '7.775',
 '15.2458',
 '39.4',
 '26',
 '9.35',
 '164.8667',
 '26.55',
 '19.2583',
 '7.2292',
 '14.1083',
 '11.5',
 '25.9292',
 '69.55',
 '13',
 '13',
 '13.8583',
 '50.4958',
 '9.5',
 '11.1333',
 '7.8958',
 '52.5542',
 '5',
 '9',
 '24',
 '7.225',
 '9.8458',
 '7.8958',
 '7.8958',
 '83.1583',
 '26',
 '7.8958',
 '10.5167',
 '10.5',
 '7.05',
 '29.125',
 '13',
 '30',
 '23.45',
 '30',
 '7.75']

In [34]:
m.loc['Fare']

0         7.25
1      71.2833
2        7.925
3         53.1
4         8.05
5       8.4583
6      51.8625
7       21.075
8      11.1333
9      30.0708
10        16.7
11       26.55
12        8.05
13      31.275
14      7.8542
15          16
16      29.125
17          13
18          18
19       7.225
20          26
21          13
22      8.0292
23        35.5
24      21.075
25     31.3875
26       7.225
27         263
28      7.8792
29      7.8958
        ...
861       11.5
862    25.9292
863      69.55
864         13
865         13
866    13.8583
867    50.4958
868        9.5
869    11.1333
870     7.8958
871    52.5542
872          5
873          9
874         24
875      7.225
876     9.8458
877     7.8958
878     7.8958
879    83.1583
880         26
881     7.8958
882    10.5167
883       10.5
884       7.05
885     29.125
886         13
887         30
888      23.45
889         30
890       7.75
Name: Fare, Length: 891, dtype: object

# Dates and Time

In [35]:
import datetime as dt
import time as tm

In [36]:
tm.time()

1587475943.21

In [37]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 4, 21, 16, 32, 23, 358092)

In [38]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2020, 4, 21, 16, 32, 23)

In [39]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

In [40]:
today = dt.date.today()
today

datetime.date(2020, 4, 21)

# Objects and map()Â¶

In [41]:
class person:
    department = 'purchase team'
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_location(self, new_location):
        self.location = new_location

In [42]:
person = person()
person.set_name('Thomas')
person.set_location('Ruaka, Nairobi, Kenya')
print('{} lives in {} and works in the department {}'.format(person.name, person.location, person.department))

Thomas lives in Ruaka, Nairobi, Kenya and works in the department purchase team

# Lambda

In [43]:
my_function = lambda a, b, c : a + b +c

In [44]:
my_function(1, 2, 3)

6

# Iterate

In [45]:
my_list = []
for x in range(0, 9):
    if x % 2 == 0:
        my_list.append(x)
print(my_list)

[0, 2, 4, 6, 8]

In [46]:
multiples_of_7 = []
for x in range(100):
    if x % 7 == 0:
        multiples_of_7.append(x)
print(multiples_of_7)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [47]:
my_list = [x for x in range(9) if x % 2 == 0]
my_list

[0, 2, 4, 6, 8]

In [48]:
multiples_of_7 = [x for x in range(100) if x % 7 == 0]
multiples_of_7

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [49]:
class animal:
    type_animal = 'pet'
    
    def set_owner(self, new_nickname):
        self.owner = new_nickname
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_breed(self, new_breed):
        self.breed = new_breed

In [50]:
animal = animal()
animal.set_owner('Amelia')
animal.set_name('Dog')
animal.set_breed('German shephered')
print('{} has a {} {} {}'.format(animal.owner, animal.breed, animal.type_animal, animal.name))

Amelia has a German shephered pet Dog

In [51]:
class firstclass:
    test = 'test'    
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol

In [52]:
eg3 = firstclass('Three',3)

In [53]:
print (eg3.test, eg3.name)

test Three

In [54]:
class FirstClass:
    def __init__(self,name,symbol):
        self.name = name
        self.symbol = symbol
        
    def square(self):
        return self.symbol ** 2
    def cube(self):
        return self.symbol ** 3
    def multiply(self):
        return self.symbol * x

In [55]:
eg4 = FirstClass('Five',5)

In [56]:
print (eg4.square())
print (eg4.cube())           # Q on multiplication

25
125

# inheritance

In [57]:
class SoftwareEngineer:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def salary(self, value):
        self.money = value
        print (self.name,"earns",self.money)

In [58]:
a = SoftwareEngineer('Kartik',26)

In [59]:
a.salary(40000)

Kartik earns 40000

In [60]:
dir(SoftwareEngineer)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'salary']

In [61]:
class Artist:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def money(self, value):
        self.money = value
        print (self.name,"earns",self.money)
    def artform(self,job):
        self.job = job                            #Q why is self,job not self.artform
        print(self.name,"is a", self.job)

In [62]:
a = Artist('Azzanet', 15)
a.money(70000)
a.artform('Musician')

Azzanet earns 70000
Azzanet is a Musician

In [63]:
dir(Artist)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'artform',
 'money']

# jason python

In [64]:
# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x) 

# the result is a Python dictionary:
print(y["age"])

30

In [65]:
y

{'name': 'John', 'age': 30, 'city': 'New York'}

In [66]:
type(x)              # Q difference between str and dict

str

In [67]:
type(y)

dict

In [68]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

In [69]:
# convert into JSON:
y = json.dumps(x)

In [70]:
y

'{"name": "John", "age": 30, "city": "New York"}'

In [71]:
type(x)

dict

In [72]:
type(y)

str

In [73]:
#You can convert Python objects of the following types, into JSON strings:w3schools
#dict,list,tuple,string,int,float,True,False,None

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [74]:
x = {
  "name": "MJ",
  "age": 32,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}
y = print(json.dumps(x))

{"name": "MJ", "age": 32, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [75]:
x

{'name': 'MJ',
 'age': 32,
 'married': True,
 'divorced': False,
 'children': ('Ann', 'Billy'),
 'pets': None,
 'cars': [{'model': 'BMW 230', 'mpg': 27.50},
  {'model': 'Ford Edge', 'mpg': 24.10}]}

In [76]:
type(x)

dict

In [77]:
type(y)

NoneType

#  Python Try ExceptÂ¶

In [78]:
try:
  print(q)
except NameError:
  print("variable x is not defined")
except:
  Print("something else went wrong")

variable x is not defined

In [79]:
try:
  print(x)
except NameError:
  print("variable x is not defined")
except:
  Print("something else went wrong")

{'name': 'MJ', 'age': 32, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}

In [80]:
try:
  print(q)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [81]:
try:
  print(x)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

{'name': 'MJ', 'age': 32, 'married': True, 'divorced': False, 'children': ('Ann', 'Billy'), 'pets': None, 'cars': [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]}
The 'try except' is finished

# 2-14 Python IteratorsÂ¶

In [87]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [83]:
i = 0
for i in mytuple:
    print(i)

apple
banana
cherry

In [88]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry


# 2- 15 Dictionary

In [89]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# 2-16 Tuples

In [90]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# 2-17 SetÂ¶

In [91]:
house_price = {"store", "apartment", "house"}
print(house_price)

{'apartment', 'store', 'house'}

In [92]:
house_price = {"store", "apartment", "house"}

for x in house_price:
  print(x)

apartment
store
house

In [93]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}