In [1]:

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from nltk.corpus import stopwords
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
from pandas import get_dummies
import matplotlib as mpl
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib
import warnings
import sklearn
import string
import scipy
import numpy
import nltk
import json
import sys
import csv
import os

In [2]:
print('matplotlib: {}'.format(matplotlib.__version__))
print('scipy: {}'.format(scipy.__version__))
print('seaborn: {}'.format(sns.__version__))
print('pandas: {}'.format(pd.__version__))
print('numpy: {}'.format(np.__version__))
print('Python: {}'.format(sys.version))

matplotlib: 3.0.2
scipy: 1.1.0
seaborn: 0.9.0
pandas: 0.23.4
numpy: 1.15.4
Python: 3.7.1 (default, Dec 14 2018, 19:28:38)
[GCC 7.3.0]

In [3]:
sns.set(style='white', context='notebook', palette='deep')
warnings.filterwarnings('ignore')
sns.set_style('white')
%matplotlib inline

In [4]:
submission = pd.read_csv('sample_submission_stage_1.csv')

In [5]:
gendered_pronoun_df = pd.read_csv('test_stage_1.tsv', delimiter='\t')

In [6]:
gendered_pronoun_df.shape

(2000, 9)

In [7]:
submission.shape

(2000, 4)

In [8]:
gendered_pronoun_df.head()

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,B,B-offset,URL
0,development-1,Zoe Telford -- played the police officer girlf...,her,274,Cheryl Cassidy,191,Pauline,207,http://en.wikipedia.org/wiki/List_of_Teachers_...
1,development-2,"He grew up in Evanston, Illinois the second ol...",His,284,MacKenzie,228,Bernard Leach,251,http://en.wikipedia.org/wiki/Warren_MacKenzie
2,development-3,"He had been reelected to Congress, but resigne...",his,265,Angeloz,173,De la Sota,246,http://en.wikipedia.org/wiki/Jos%C3%A9_Manuel_...
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,Henry Rosenthal,336,http://en.wikipedia.org/wiki/Crime_(band)
4,development-5,Her Santa Fe Opera debut in 2005 was as Nuria ...,She,437,Kitty Oppenheimer,219,Rivera,294,http://en.wikipedia.org/wiki/Jessica_Rivera

In [9]:
gendered_pronoun_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
ID                2000 non-null object
Text              2000 non-null object
Pronoun           2000 non-null object
Pronoun-offset    2000 non-null int64
A                 2000 non-null object
A-offset          2000 non-null int64
B                 2000 non-null object
B-offset          2000 non-null int64
URL               2000 non-null object
dtypes: int64(3), object(6)
memory usage: 140.7+ KB

In [10]:
print(gendered_pronoun_df.Text.head())

0    Zoe Telford -- played the police officer girlf...
1    He grew up in Evanston, Illinois the second ol...
2    He had been reelected to Congress, but resigne...
3    The current members of Crime have also perform...
4    Her Santa Fe Opera debut in 2005 was as Nuria ...
Name: Text, dtype: object

In [11]:
print("Shape of train set : ",gendered_pronoun_df.shape)

Shape of train set :  (2000, 9)

In [12]:
gendered_pronoun_df.columns

Index(['ID', 'Text', 'Pronoun', 'Pronoun-offset', 'A', 'A-offset', 'B',
       'B-offset', 'URL'],
      dtype='object')

In [13]:
def check_missing_data(df):
    flag=df.isna().sum().any()
    if flag==True:
        total = df.isnull().sum()
        percent = (df.isnull().sum())/(df.isnull().count()*100)
        output = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
        data_type = []
        # written by MJ Bahmani
        for col in df.columns:
            dtype = str(df[col].dtype)
            data_type.append(dtype)
        output['Types'] = data_type
        return(np.transpose(output))
    else:
        return(False)

In [14]:
check_missing_data(gendered_pronoun_df)

False

# Number of words in the text

In [15]:
gendered_pronoun_df["num_words"] = gendered_pronoun_df["Text"].apply(lambda x: len(str(x).split()))

In [16]:
print('maximum of num_words in data_df',gendered_pronoun_df["num_words"].max())

maximum of num_words in data_df 204

In [17]:
print('min of num_words in data_df',gendered_pronoun_df["num_words"].min())

min of num_words in data_df 16

In [18]:
gendered_pronoun_df["num_unique_words"] = gendered_pronoun_df["Text"].apply(lambda x: len(set(str(x).split())))

In [19]:
print('maximum of num_unique_words in train',gendered_pronoun_df["num_unique_words"].max())

gendered_pronoun_df["num_words"].head()

maximum of num_unique_words in train 136

0     74
1     65
2     95
3     69
4    112
Name: num_words, dtype: int64

In [20]:
gendered_pronoun_df["num_unique_words"].head()

0    61
1    58
2    71
3    58
4    80
Name: num_unique_words, dtype: int64

In [21]:
print('maximum of num_unique_words in train',gendered_pronoun_df["num_unique_words"].max())

maximum of num_unique_words in train 136

In [22]:
print('mean of num_unique_words in data_df',gendered_pronoun_df["num_unique_words"].mean())

mean of num_unique_words in data_df 56.4005

In [23]:
gendered_pronoun_df["num_chars"] = gendered_pronoun_df["Text"].apply(lambda x: len(str(x)))

In [24]:
gendered_pronoun_df["num_chars"].head()

0    426
1    410
2    536
3    401
4    660
Name: num_chars, dtype: int64

In [25]:
print('maximum of num_chars in data_df',gendered_pronoun_df["num_chars"].max())

maximum of num_chars in data_df 1270

In [26]:
#my own practice trying to find unique characters in data but doesnt make sense is supposed to be max 24  
gendered_pronoun_df["num_charis"] = gendered_pronoun_df["Text"].apply(lambda x: len(set(str(x))))

In [27]:
gendered_pronoun_df["num_charis"].max()

62

In [28]:
from nltk.corpus import stopwords
# stopwords cant load has a problem

In [29]:
import string
gendered_pronoun_df["num_punctuations"] =gendered_pronoun_df['Text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]) )
print('maximum of num_punctuations in data_df',gendered_pronoun_df["num_punctuations"].max())

maximum of num_punctuations in data_df 93

In [30]:
gendered_pronoun_df["num_words_upper"] = gendered_pronoun_df["Text"].apply(lambda x: len([w for w in str(x).split() if w.isupper()]))
print('maximum of num_words_upper in data_df',gendered_pronoun_df["num_words_upper"].max())

maximum of num_words_upper in data_df 11

In [31]:
print(gendered_pronoun_df.columns)

Index(['ID', 'Text', 'Pronoun', 'Pronoun-offset', 'A', 'A-offset', 'B',
       'B-offset', 'URL', 'num_words', 'num_unique_words', 'num_chars',
       'num_charis', 'num_punctuations', 'num_words_upper'],
      dtype='object')

In [32]:
gendered_pronoun_df.head(2)

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,B,B-offset,URL,num_words,num_unique_words,num_chars,num_charis,num_punctuations,num_words_upper
0,development-1,Zoe Telford -- played the police officer girlf...,her,274,Cheryl Cassidy,191,Pauline,207,http://en.wikipedia.org/wiki/List_of_Teachers_...,74,61,426,36,14,0
1,development-2,"He grew up in Evanston, Illinois the second ol...",His,284,MacKenzie,228,Bernard Leach,251,http://en.wikipedia.org/wiki/Warren_MacKenzie,65,58,410,49,12,0

In [33]:
pronoun=gendered_pronoun_df["Pronoun"]

In [34]:
np.unique(pronoun)

array(['He', 'Her', 'His', 'She', 'he', 'her', 'him', 'his', 'she'],
      dtype=object)

In [35]:
## is suggested by  https://www.kaggle.com/aavella77
binary = {
    "He": 0,
    "he": 0,
    "She": 1,
    "she": 1,
    "His": 2,
    "his": 2,
    "Him": 3,
    "him": 3,
    "Her": 4,
    "her": 4
}
for index in range(len(gendered_pronoun_df)):
    key = gendered_pronoun_df.iloc[index]['Pronoun']
    gendered_pronoun_df.at[index, 'Pronoun_binary'] = binary[key]
gendered_pronoun_df.head(30)

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,B,B-offset,URL,num_words,num_unique_words,num_chars,num_charis,num_punctuations,num_words_upper,Pronoun_binary
0,development-1,Zoe Telford -- played the police officer girlf...,her,274,Cheryl Cassidy,191,Pauline,207,http://en.wikipedia.org/wiki/List_of_Teachers_...,74,61,426,36,14,0,4.0
1,development-2,"He grew up in Evanston, Illinois the second ol...",His,284,MacKenzie,228,Bernard Leach,251,http://en.wikipedia.org/wiki/Warren_MacKenzie,65,58,410,49,12,0,2.0
2,development-3,"He had been reelected to Congress, but resigne...",his,265,Angeloz,173,De la Sota,246,http://en.wikipedia.org/wiki/Jos%C3%A9_Manuel_...,95,71,536,47,16,0,2.0
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,Henry Rosenthal,336,http://en.wikipedia.org/wiki/Crime_(band),69,58,401,42,13,1,2.0
4,development-5,Her Santa Fe Opera debut in 2005 was as Nuria ...,She,437,Kitty Oppenheimer,219,Rivera,294,http://en.wikipedia.org/wiki/Jessica_Rivera,112,80,660,53,18,1,1.0
5,development-6,Sandra Collins is an American DJ. She got her ...,She,411,Collins,236,DJ,347,http://en.wikipedia.org/wiki/Sandra_Collins,81,64,488,43,13,4,1.0
6,development-7,Reb Chaim Yaakov's wife is the sister of Rabbi...,his,273,Reb Asher,152,Akiva Eiger,253,http://en.wikipedia.org/wiki/Asher_Arieli,72,48,432,37,11,0,2.0
7,development-8,Slant Magazine's Sal Cinquemani viewed the alb...,his,337,Greg Kot,173,Robert Christgau,377,http://en.wikipedia.org/wiki/The_Truth_About_L...,71,60,451,46,21,0,2.0
8,development-9,Her father was an Englishman ``of rank and cul...,her,246,Mary Paine,255,Kelsey,267,http://en.wikipedia.org/wiki/Mary_S._Peake,53,42,302,41,13,0,4.0
9,development-10,Shaftesbury's UK partners in the production of...,she,329,Christina Jennings,196,Kirstine Stewart,226,http://en.wikipedia.org/wiki/Murdoch_Mysteries,52,45,381,39,14,4,1.0
10,development-11,William Shatner portraying writer Mark Twain; ...,his,300,Peter Mansbridge,168,David Onley,212,http://en.wikipedia.org/wiki/Murdoch_Mysteries,66,58,448,42,9,0,2.0
11,development-12,His maternal great-grandfather was Henry Percy...,She,304,Eleanor,217,Eleanor Beauchamp,285,"http://en.wikipedia.org/wiki/Henry_Clifford,_2...",60,40,397,41,10,0,1.0
12,development-13,"Killian in 1978--79, an assistant district att...",her,293,Williams,247,Mary Helen Moses,273,http://en.wikipedia.org/wiki/Amanda_Williams,52,42,329,44,13,0,4.0
13,development-14,ARTA driver Vitantonio Liuzzi will be replaced...,his,340,Kazuki Nakajima,275,Oliver Jarvis,297,http://en.wikipedia.org/wiki/2015_Super_GT_Series,63,53,396,46,7,2,2.0
14,development-15,"Twenty years ago, Lorenzo Uribe discovered tru...",her,250,Maria,219,Gracia,235,http://en.wikipedia.org/wiki/Malparida,59,47,350,34,12,0,4.0
15,development-16,A colleague in the department run by Erwin Fri...,she,295,Alma Taggart,192,McCulloch,219,http://en.wikipedia.org/wiki/Lucia_McCulloch,61,52,379,45,14,3,1.0
16,development-17,Maurice custom-tailors clothing for de Var*ze ...,him,384,Maurice,334,Gilbert,365,http://en.wikipedia.org/wiki/Love_Me_Tonight,74,60,454,41,17,0,3.0
17,development-18,"In 1988, Race suffered an abdominal injury and...",his,330,Randy Savage,181,Ted DiBiase,235,http://en.wikipedia.org/wiki/King_of_the_Ring,74,58,436,40,10,0,2.0
18,development-19,The rest of the group find out what has happen...,him,335,Justin,281,Tim,296,http://en.wikipedia.org/wiki/Never_Back_Down_2...,67,54,359,34,6,0,3.0
19,development-20,"On 30 July 1966, Ramsey's promise was fulfille...",his,476,Greaves,330,Ramsey,381,http://en.wikipedia.org/wiki/Alf_Ramsey,100,78,586,49,18,1,2.0
20,development-21,Ben Severson is a pioneer in the sport of body...,He,234,Mike Stewart,113,Ben,150,http://en.wikipedia.org/wiki/Ben_Severson,57,47,320,34,5,0,0.0
21,development-22,This device allowed him to continue his racing...,his,304,Kurt,317,Paul Newman,338,http://en.wikipedia.org/wiki/Kurt_Kossmann,70,56,426,46,7,0,2.0
22,development-23,The meeting went a little differently from wha...,his,430,Magee,296,Kenneth Grant,386,http://en.wikipedia.org/wiki/Mike_Magee_(journ...,91,68,540,51,7,1,2.0
23,development-24,Louis McNeill begin her publishing career sell...,her,447,Maggie Anderson,273,McNeill,301,http://en.wikipedia.org/wiki/Louise_McNeill,75,62,481,47,14,0,4.0
24,development-25,Her initial ambition was to become a ``culture...,her,329,Hartwig,210,Margaret Bell,266,http://en.wikipedia.org/wiki/Marie_Hartwig,51,47,333,35,15,1,4.0
25,development-26,"They were broadly positive, though they stoppe...",his,299,Michael Billington,92,Martin,266,http://en.wikipedia.org/wiki/Life_and_Beth,55,50,363,33,14,0,2.0
26,development-27,"Connie, in a one-sided conversation, gives pra...",her,280,Beth,238,Connie,263,http://en.wikipedia.org/wiki/Life_and_Beth,81,61,490,34,15,0,4.0
27,development-28,This is a list of episodes from the MTV show B...,his,194,Alan,204,Ryan,223,http://en.wikipedia.org/wiki/List_of_Bully_Bea...,54,47,290,37,6,1,2.0
28,development-29,"Meet Mike, the shortest bully to appear on the...",him,250,Mayhem Miller,153,Eddie Alvarez,189,http://en.wikipedia.org/wiki/List_of_Bully_Bea...,52,46,263,38,6,1,3.0
29,development-30,With only six months' experience under his bel...,his,294,Paul,241,Freddie Griffiths,258,http://en.wikipedia.org/wiki/Tommy_Paul,52,44,323,44,7,1,2.0

# Visualization

# NLTK

In [36]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [37]:
gendered_pronoun_df.Text[0]

"Zoe Telford -- played the police officer girlfriend of Simon, Maggie. Dumped by Simon in the final episode of series 1, after he slept with Jenny, and is not seen again. Phoebe Thomas played Cheryl Cassidy, Pauline's friend and also a year 11 pupil in Simon's class. Dumped her boyfriend following Simon's advice after he wouldn't have sex with her but later realised this was due to him catching crabs off her friend Pauline."

In [38]:
our_text=gendered_pronoun_df.Text[0]

In [39]:
print(word_tokenize(our_text))

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  Attempted to load tokenizers/punkt/PY3/english.pickle

  Searched in:
    - '/home/kadas/nltk_data'
    - '/home/kadas/anaconda3/nltk_data'
    - '/home/kadas/anaconda3/share/nltk_data'
    - '/home/kadas/anaconda3/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
    - ''
**********************************************************************

In [40]:
from nltk.tokenize import sent_tokenize, word_tokenize
print(sent_tokenize(our_text))

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  Attempted to load tokenizers/punkt/PY3/english.pickle

  Searched in:
    - '/home/kadas/nltk_data'
    - '/home/kadas/anaconda3/nltk_data'
    - '/home/kadas/anaconda3/share/nltk_data'
    - '/home/kadas/anaconda3/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
    - ''
**********************************************************************